body {
    padding-top:89px;
    font-family: 'Arial, Helvetica, sans-serif';
    background-color:chocolate;
    height:79vh;
}
div {
    width: 75%;
    margin: auto;
    /*-webkit-box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);*/
    padding:15px;
    padding-left:15px;
    padding-bottom:12px;
    background-color:aqua;
}
table{
    font-family: Arial,Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:50%;
    height:45%;
}

tr:hover{
    background-color:white
}
h1{
    color:white;
}
th{
    padding-top:12px;
    padding-bottom:13px;
    text-align:center;
    color:blue;
}
.selected-row{
    background-color: #0094ff !important;
    color:white;
}
.table-row{
    cursor:pointer;
    background-color:lavender;
}

