@model Customer2022.Models.User
@{
    ViewBag.Title = "Dashboard";
}
<div>
    
    <p>
        @Html.ViewBag.Message 
    </p>

</div>
<div>
    <p>
        @Html.ActionLink("Dashboard", "Index", "Customer")

    </p>
</div>
